In [28]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from statsmodels.stats.weightstats import ztest
from statsmodels.stats.proportion import proportions_ztest

(5 คะแนน) บริษัทผลิตแจกัน แห่งหนึ่งได้ทําการสํารวจสินค้าที่ทางบริษัทผลิตจํานวน 1000 ชิ้น พบว่ามีตําหนิ350
ชิ้น จงประมาณสัดส่วนของแจกันมีตําหนิซึ่งผลิตโดยบริษัทแห่งนี้ที่ช่วงความเชื่อมั่น 95%

In [29]:
a = 0.05

p_hat = 350 / 1000

z_crit_left  = stats.norm.ppf(a / 2)
z_crit_right = stats.norm.isf(a / 2)

left  = p_hat + (z_crit_left  * np.sqrt((p_hat * (1 - p_hat)) / 1000))
right = p_hat + (z_crit_right * np.sqrt((p_hat * (1 - p_hat)) / 1000))

print(np.round(left, 3), "<= p <=", np.round(right, 3))

0.32 <= p <= 0.38

(10 คะแนน) จากการสุ่มตรวจตัวอย่างดินในพื้นที่สองแห่งคือ Area51 และ Area52. แห่งละ 10 ตัวอย่างพบว่ามี
ปริมาณแร่คริปโตไนต์ดังนี้ (หน่วยมิลลิกรัม)

- Area51.: 50, 45, 44, 52, 51, 43, 49, 46, 56, 44
- Area52.: 42, 55, 43, 47, 46, 45, 52, 54, 46, 47

หากกําหนดให้ปริมาณสารปนเปื้อนในผักมีการแจกแจงแบบปกติ จงทดสอบว่าความแปรปรวนของสารปนเปื้อน
ในตลาด 2 แห่งแตกต่างกันหรือไม่ที่ระดับนัยสําคัญ 0.01

In [30]:
#H0 2 ที่เท่ากัน
#H1 2 ที่ไม่เท่ากัน

a = 0.01
s1_2 = np.var([50, 45, 44, 52, 51, 43, 49, 46, 56, 44], ddof = 1)
s2_2 = np.var([42, 55, 43, 47, 46, 45, 52, 54, 46, 47], ddof = 1)

f_cal = s1_2 / s2_2
f_crit_left  = stats.f.ppf(a / 2, dfn = 10 - 1, dfd = 10 - 1)
f_crit_right = stats.f.isf(a / 2, dfn = 10 - 1, dfd = 10 - 1)
p_val = 2 * min(stats.f.cdf(f_cal, dfn = 10 - 1, dfd = 10 - 1), stats.f.sf(f_cal, dfn = 10 - 1, dfd = 10 - 1))

print(np.round(f_crit_left, 3))
print(np.round(f_crit_right, 3))
print(np.round(f_cal, 3), np.round(p_val, 3))

#ยอมรับ H0
# 2 ที่มีความแปรปรวนเท่ากัน

0.153
6.541
0.911 0.891

(10 คะแนน) เกมส์ MMORPG เกมส์หนึ่ง ผู้เล่นสามารถเลือกสายอาชีพให้ตัวละครได้ 4 สายคือ knight, wizard,
rogue และ necromancer จากการสุ่มเก็บข้อมูลจากผู้เล่นจํานวน 100 รายพบว่ามีผู้เลือกเล่นสายอาชีพ knight,
wizard, rogue และ necromancer จํานวน 25, 26, 24 และ 25 รายตามลําดับ หากนักพัฒนาเกมส์ MMORPG
ได้วางแผนไว้ว่าจะมีผู้เลือกสายอาชีพ knight:wizard:rogue:necromancer ในอัตราส่วน 1:1:1:1 อัตราส่วนของ
ผู้เล่นสายอาชีพทั้ง 4 สายเป็นไปตามการวางแผนของนักพัฒนาเกมส์ที่ระดับนัยสําคัญ 0.01 หรือไม่

In [31]:
#H0 อัตราส่วน  = 1:1:1:1
#H1 อัตราส่วน != 1:1:1:1

a = 0.01
n = 100

O = np.array([25, 26, 24, 25])
P = np.array([1/4, 1/4, 1/4, 1/4])
E = n * P

chi2_cal, p_val = stats.chisquare(f_obs = O, f_exp = E)
chi2_crit = stats.chi2.isf(a, df = 4 - 1) #มี 4 กลุ่ม

print(np.round(chi2_cal, 3), np.round(p_val, 3), np.round(chi2_crit, 3))

# ยอมรับ H0
# อัตราส่วน  = 1:1:1:1

0.08 0.994 11.345

(10 คะแนน) บริษัทผลิตรถยนต์แห่งหนึ่ง ต้องการทราบว่าขนาดของรถยนต์มีความสัมพันธ์กับขนาดของครอบครัว
ที่ใช้หรือไม่ จึงทําการสุ่มตัวอย่างครอบครัวมา 457 ครอบครัว และทําการเก็บข้อมูลจํานวนสมาชิกในครอบครัว
และขนาดของรถยนต์ที่ใช้ได้ข้อมูลดังตาราง

![fssf](assets/สกรีนช็อต2025-03-24134944.png)

ขนาดของตู้เย็นที่ใช้มีความสัมพันธ์กับขนาดของครอบครัวหรือไม่ที่ระดับนัยสําคัญ 0.05

In [32]:
#H0 เป็นอิสระต่อกัน(ไม่มีความสัมพันธ์กัน)
#H1 ไม่เป็นอิสระต่อกัน(มีความสัมพันธ์กัน)

a = 0.05
df = (3 - 1) * (3 - 1)

O = np.array([[30, 35, 45], [47, 100, 10], [100, 40, 50]])

chi2_cal, p_val, dof, E = stats.chi2_contingency(O, correction = False)
chi2_crit = stats.chi2.isf(a, df = df)

print(np.round(chi2_cal, 3), np.format_float_scientific(p_val, 3), np.round(chi2_crit, 3))

#ยอมรับ H0 
#เป็นอิสระต่อกัน

93.913 1.941e-19 9.488

(5 คะแนน) จากการเก็บข้อมูลการเข้าชมเว็บไซต์แห่งหนึ่งโดยการสุ่มตัวอย่างผู้เข้าชมจํานวน 10 คน พบว่าใช้เวลา
ชมเว็บไซต์ดังนี้ (หน่วยวินาที) 67, 62, 109, 55, 97, 33, 69, 57, 72, 48 จงหาช่วงความเชื่อมั่น 99% ของ
ระยะเวลาโดยเฉลี่ยที่ผู้เข้าชมใช้กับเว็บไซต์นี้หากกําหนดให้ระยะเวลาในการเข้าชมเว็บไซต์มีการแจกแจงแบบปกติ
และไม่ทราบความแปรปรวนของระยะเวลาในการเข้าชมเว็บไซต์

In [33]:
a = 0.01
x_bar = np.mean([67, 62, 109, 55, 97, 33, 69, 57, 72, 48])
s = np.std([67, 62, 109, 55, 97, 33, 69, 57, 72, 48], ddof = 1)

t_crit_left  = stats.t.ppf(a / 2, df = 10 - 1)
t_crit_right = stats.t.isf(a / 2, df = 10 - 1)

left  = x_bar + t_crit_left * (s / np.sqrt(10))
right = x_bar + t_crit_right * (s / np.sqrt(10))

print(np.round(left, 3), "<= x <=", np.round(right, 3))

43.974 <= x <= 89.826

(10 คะแนน) จากการทดสอบ UPS 2 ยี่ห้อคือ A และ B ว่ามีระยะเวลาสํารองไฟสูงสุด (นาที) แตกต่างกันหรือไม่
ซึ่งในการทดสอบใช้UPS ยี่ห้อละ 10 เครื่อง ได้ข้อมูลดังนี้

- ยี่ห้อ A: 53, 62, 45, 47, 54, 56, 66, 71, 48, 57
- ยี่ห้อ B: 32, 49, 54, 57, 67, 42, 44, 54, 57, 46

!!!!!!จงทดสอบว่าระยะเวลาสํารองไฟสูงสุดโดยเฉลี่ยของ UPS 2 ยี่ห้อแตกต่างกันหรือไม่ที่ระดับนัยสําคัญ 0.1 หาก
กําหนดให้ระยะเวลาสํารองไฟสูงสุดของ UPS ทั้ง 2 ยี่ห้อ มีความแปรปรวนต่างกัน

In [34]:
a = 0.1

s2_1 = np.var([53, 62, 45, 47, 54, 56, 66, 71, 48, 57], ddof = 1)
s2_2 = np.var([32, 49, 54, 57, 67, 42, 44, 54, 57, 46], ddof = 1)

df = ((s2_1**2 / 10) + (s2_2**2 / 10))**2 / ((((s2_1**2 / 10) ** 2) / 10 - 1) + (((s2_2**2 / 10) ** 2) / 10 - 1))

t_cal, p_val = stats.ttest_ind(a = [53, 62, 45, 47, 54, 56, 66, 71, 48, 57], b = [32, 49, 54, 57, 67, 42, 44, 54, 57, 46], equal_var = False, alternative = "two-sided")
t_crit_left  = stats.t.ppf(a / 2, df = df)
t_crit_right = stats.t.isf(a / 2, df = df)

print(np.round(t_crit_left, 3))
print(np.round(t_crit_right, 3))
print(np.round(t_cal, 3), np.round(p_val, 3))

-1.732
1.732
1.396 0.18

แผนกวิจัยตลาดของบริษัทเครื่องส าอางแห่งหนึ่ง ต้องการศึกษาความสัมพันธ์ระหว่างค่าใช้จ่ายในการโฆษณาและยอดขาย โดยที่ข้อมูล
เกี่ยวกับค่าใช้จ่ายและยอดขายดังนี้

![fdfasf](assets/สกรีนช็อต2025-03-24173131.png)

จงหาค่า r และทดสอบว่าข้อมูลนี้มีความสัมพันธ์หรือไม่ที่ระดับนัยยะสำคัญ 0.05

In [35]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/sale.csv")
df

    ad_cost  sale
0       3.7  42.5
1       2.0  35.0
2       3.0  39.5
3       2.0  36.5
4       3.5  47.5
5       4.8  44.0
6       4.5  49.0
7       4.5  48.0
8       3.8  42.0
9       5.0  56.0
10      4.0  52.5
11      5.0  51.0

In [36]:
#H0 ไม่มีความสัมพันธ์กัน
#H1 มีความสัมพันธ์กัน

r, p_val = stats.pearsonr(df['ad_cost'], df['sale'])
sr = np.sqrt((1 - r**2) / (12 - 2))

t_cal = r / sr
t_crit_left  = stats.t.ppf(a / 2, df = 12 - 2)
t_crit_right = stats.t.isf(a / 2, df = 12 - 2)

print(t_crit_left)
print(t_crit_right)

print(np.round(t_cal, 3), np.round(r, 3))

#ยอมรับ H1 
# มีความสัมพันธ์กัน

-1.8124611228107341
1.8124611228107341
4.916 0.841

จากแบบทดสอบที่ 11.2 จงวิเคราะห์สัมประสิทธิ์สหสัมพันธ์ที่ได้ว่าค่าใช้จ่ายในการโฆษณาและยอดขายของบริษัทมีความสัมพันธ์เชิงเส้น
หรือไม่ที่ระดับนัยส าคัญ 0.05

In [37]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/cosmetic.csv")
df

    mk_share  payback_customer
0         15                24
1         14                20
2         18                25
3         20                28
4         10                15
5         11                15
6         13                16
7         16                17
8         10                12
9         12                13
10        15                15
11        17                16
12        22                30
13        19                25

In [38]:
a = 0.05

r, p_val = stats.pearsonr([15, 14, 18, 20, 10, 11, 13, 16, 10, 12, 15, 17, 22, 19], [24, 20, 25, 28, 15, 15, 16, 17, 12, 13, 15, 16, 30, 25])
sr = np.sqrt((1 - r**2) / (12 - 2))

t_cal = r / sr
t_crit_left  = stats.t.ppf(a / 2, 14 - 2)
t_crit_right = stats.t.isf(a / 2, 14 - 2)

print(t_crit_left)
print(t_crit_right)

print(np.round(t_cal, 3), np.round(r, 3), np.format_float_scientific(p_val, 3))

-2.178812829663418
2.178812829663418
5.425 0.864 6.794e-05

In [ ]:
x = [15, 14, 18, 20, 10, 11, 13, 16, 10, 12, 15, 17, 22, 19]
y = [24, 20, 25, 28, 15, 15, 16, 17, 12, 13, 15, 16, 30, 25]

f_crit_right = stats.f.isf(a, dfn = 1, dfd = 14 - 2)
print(np.round(f_crit_right, 3))

x_wconst = sm.add_constant(x)
lr = sm.OLS(y, x_wconst).fit()
print(lr.summary())

4.747225346722511
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.746
Model:                            OLS   Adj. R-squared:                  0.725
Method:                 Least Squares   F-statistic:                     35.31
Date:                Tue, 25 Mar 2025   Prob (F-statistic):           6.79e-05
Time:                        11:49:31   Log-Likelihood:                -34.603
No. Observations:                  14   AIC:                             73.21
Df Residuals:                      12   BIC:                             74.48
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -1.1905      3.555     -0.335      0.744      -8.937       6.556
x1             1.3569      0.228      5.942      0.000       0.859       1.854
==============================================================================
Omnibus:                        0.988   Durbin-Watson:                   0.824
Prob(Omnibus):                  0.610   Jarque-Bera (JB):                0.778
Skew:                          -0.509   Prob(JB):                        0.678
Kurtosis:                       2.455   Cond. No.                         67.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\trai 004\anaconda3\envs\pstat13\Lib\site-packages\scipy\stats\_axis_nan_policy.py:418: UserWarning: `kurtosistest` p-value may be inaccurate with fewer than 20 observations; only n=14 observations were given.
  return hypotest_fun_in(*args, **kwds)

In [40]:
print(np.round(np.sqrt(0.746), 3))

0.864